<div id='form'>  
        <label>Name</label><br/><input type="text" ng-model="post.title" /><br/>
        <label>Category</label><br/><input type="text" ng-model="post.categories"/><br/>
        <label>Description</label><br/><textarea value="text" ng-model="post.description"></textarea><br/>
        <label>Link to photo</label><br/><input type="text" ng-model="post.photo"/><br/>
        <br/><input type="submit" ng-click="update(post)" value="Add" />
        <input type="submit" ng-click="update(post)" value="Cancel" />
        
</div>
