@mixin borderbutton($buttoncolour, $radius: 5px) {
    background-color: $buttoncolour;
    border-radius: $radius;
}

$colors: (
  vipblack: $sectioncardcolour,
  greytext: #C0C3CE,
);

body {
    background: $contentBackground;
    margin: 0 auto;
    width: 1300px;
}

.container {
    @extend body;
    padding-right: 0px;
    padding-left: 0px;
}

header {
    font-family: 'Hind', sans-serif;
    background-image: $urlimage;
    background-size: cover;
    background-origin: content-box;
    height: 800px;
    width: 100%;
    border-radius: 0 0 27%;
    color: $textcolour;
    .header-wrap {
        position: absolute;
        margin: 30px 100px 30px 100px;
        opacity: 1;
        height: 700px;
    }
    .header_heading {  
        font-size: 400%;
        font-weight: bolder;
        width: 700px;
        line-height: 1;
    }
    .header_text {
        width: 600px;
        white-space: pre;
        margin-left: -55px;
        line-height: 1.4;
        font-size: 100%;
        opacity: 0.9;
    }
    .landing-logo {
        display: flex;
        img {
            height:50px;
            width: 50px;
        }
        p {
            margin-left: 0;
            margin-top: 0;
            font-size: 160%;
            font-weight: bold;
            text-align: center;
        }
        span {
            display: block;
            width: 100px;
            font-size: 40%;
            margin-top: -10px;
        }
    }
    button {
        height: 50px;
        width: 150px;
        border: none;
        @include borderbutton($buttoncolour, $radius: 0);
        color: antiquewhite;
        font-size: 120%;
        margin-top: 30px;
    } 
}
main {
    font-family: 'Hind', sans-serif;
    margin: 0 auto;
    width: 100%;
    .section_text {
        text-align: center;
        font-size: 250%;
        font-weight: bold;
        color: $textcolour;
        line-height: 1;
    }
    .section_card_wrap {
        display: flex;
        justify-content: space-around;
        margin: 0 200px 0 200px;
        .section_card {
            align-content: center;
            background-color: $sectioncardcolour;
            text-align: center;
            padding: 10px;
            width: 250px;
            .section_card_img {
                border-radius: 5px;
            }
            .section_card_heading {
                color: antiquewhite;
                width: 250px;
                font-size: 130%;
                line-height: 1;
            }
            .section_card_text  {
                color: antiquewhite;
                width: 250px;
                font-size: 65%;
            }
        }
    }
    .section_banner {
        background: $gradient;
        width: 60%;
        height: 120px;
        display: flex;
        justify-content: center;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: -60px; 
        border-radius: 5px; 
    }
    .section_banner_text_wrap {
        margin-left: 100px;
    }
    .section_banner_heading {
        font-size: 150%;
        font-weight: bolder;
        color: $textcolour;
        line-height: 1;
        margin-top: 25px;
    }
    .section_banner_text {
        color: antiquewhite;
        margin-top: -5px; 
    }
    .section_banner_button {
        height: 40px;
        width: 140px;
        @include borderbutton($buttoncolour);
        border: none;
        color: antiquewhite;
        font-size: 120%;
        margin: auto;
    }
}
span.specific_underline {
    box-shadow: $underlinecolour 0px -0.4em  inset;
    display: inline-block;  
}

span.specific_underline {
    display: inline-block;
}



footer {
    background-color: map-get($colors, vipblack);
    height: 200px;
    font-family: 'Hind', sans-serif;
    color: map-get($colors, greytext);
    padding-top: 70px;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        .footer_logo.landing-logo {
            align-content: space-around;
            margin-right: 250px;
            img {
                height:50px;
                width: 50px;
                padding: 10%;
            }
            p {
                position: relative;
                font-size: 160%;
                font-weight: bold;
                text-align: center;    
            }
            span {
                display: block;
                font-size: 40%;
                margin-top: -10px;
            }
        }
    }
    .footer-wrap {
        margin-top: 30px;
    }
    .footer_text {
        height: auto;
        white-space: pre-line;
        width: 20%;
        font-size: 80%;
    } 
    .footer-cr {
        margin-left: 200px;
        font-size: 80%;
    }
}
