$contentBackground: #21232E;
$sectioncardcolour: #3B3F50;
$underlinecolour: #FF4E33;
$buttoncolour: #E3AC00;
$textcolour: white;
$gradient: linear-gradient(90deg, #DB9F09, #99374C);
$urlimage:url(../img/m-h-night.jpg);