.myBusketButton {
    background-color: #0099FF;;
    border: none;
    border-radius: 3px;
    height: 25px;
    color: white;
    margin-left: 100px;
    margin-top: 15px;
}

.myBusketText {
    margin-block-start: 0em;
    margin-block-end: 0em;
}